body{
    margin: 0;
}

/********* FONT FAMILLY  *****************/

@font-face {
    font-family: 'DM Sans';
    src: url("assets/font_familly/DM_Sans/DMSans-Medium.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-Bold.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-BoldItalic.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-Regular.ttf");
}

/*******************************************/

.portofolie_section{
    background: #191919;
}

.portofolie_section .portofolie_container{
    width: 80%;
    margin: auto;
}

.section_acceuil .menu_portofolie{
    display: flex;
    justify-content: space-between;
}

.section_acceuil .menu_portofolie .mon_logo{
    display: flex;
    align-items: center;
}

.section_acceuil .menu_portofolie .mon_logo .picture{
    width: 160px;
    /*height: 59px;*/
}

.section_acceuil .menu_portofolie .menu_content{
    display: flex;
    height: 59px;
    align-items: center;
    gap: 51px;
}

.section_acceuil .menu_portofolie .menu_content .menu_items{
    display: flex;
    gap: 63px;
}

.menu_portofolie .menu_content .menu_items .link_menu{
    font-family: "DM Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu_portofolie .menu_content .menu_items .link_menu a{
    text-decoration: none;
    color: #A7A7A7;
}

.menu_portofolie .menu_content .menu_items .link_menu a:hover{
    color: #eeeeee;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons img{
    width: 30px;
    height: 30px;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons{
    height: 30px;
}

/****************************************************************************/

.section_acceuil .section_salutation .mon_profil{
    height: 300px;
    background: linear-gradient(to bottom , #e70faa ,#01bffd);
    border-radius: 200px;
    width: 300px;
    padding: 5px;
}

.section_acceuil .section_salutation .mon_profil .picture_profil{
    height: 100%;
    border-radius: 200px;
    background: #191919;
    /*border-top: 5px solid #e70faa;*/
    /*border-bottom: 5px solid  #01bffd;*/
    /*border-left: 5px solid #7467d3;*/
    /*border-right: 5px solid #6f6bd5;*/
    /*border: linear-gradient;*/
}

