body{
    margin: 0;
}

/********* FONT FAMILLY  *****************/

@font-face {
    font-family: 'DM Sans';
    src: url("assets/font_familly/DM_Sans/DMSans-Medium.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-Bold.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-BoldItalic.ttf"),
        url("assets/font_familly/DM_Sans/DMSans-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("assets/font_familly/Poppins/Poppins-Black.ttf"),
        /*url("assets/font_familly/Poppins/Poppins-Bold.ttf"),*/
        /*url("assets/font_familly/Poppins/Poppins-Medium.ttf"),*/
        url("assets/font_familly/Poppins/Poppins-ExtraLight.ttf"),
        url("assets/font_familly/Poppins/Poppins-Light.ttf");
}



/*******************************************/

.portofolie_section{
    background: #191919;
}

.portofolie_section .portofolie_container{
    width: 80%;
    margin: auto;
}

.section_acceuil .menu_portofolie{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.section_acceuil .menu_portofolie .mon_logo{
    display: flex;
    align-items: center;
}

.section_acceuil .menu_portofolie .mon_logo .picture{
    width: 160px;
    position: relative;
    top: 4px;
}

.section_acceuil .menu_portofolie .menu_content{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 51px;
}

.section_acceuil .menu_portofolie .menu_content .menu_items{
    display: flex;
    gap: 63px;
}

.menu_portofolie .menu_content .menu_items .link_menu{
    font-family: "DM Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.menu_portofolie .menu_content .menu_items .link_menu a{
    text-decoration: none;
    color: #A7A7A7;
}

.menu_portofolie .menu_content .menu_items .link_menu a:hover{
    color: #eeeeee;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons:hover .logo-griss{
    display: none;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons:hover .logo-blanch{
    display: block;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons .logo-griss{
    width: 30px;
    height: 30px;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons .logo-blanch{
    width: 30px;
    height: 30px;
    display: none;
}

.portofolie_container .menu_portofolie .menu_content .icons_menu .link_icons{
    height: 30px;
}

/****************************************************************************/

.section_acceuil .section_salutation .mon_profil{
    height: 400px;
    background: linear-gradient(to bottom , #e70faa ,#01bffd);
    border-radius: 200px;
    width: 400px;
    padding: 3px;
}

.section_acceuil{
    height: 100vh;
}

.section_acceuil .section_salutation .mon_profil .picture_profil{
    height: 100%;
    border-radius: 200px;
    background: #191919;
}

.section_acceuil .section_salutation{
    display: flex;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}

.section_acceuil .section_salutation .salutation_items .titre_salutation{
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: #D9D9D9;
}

.salutation_items .titre_salutation .titre_gradient{
    width: 100%;
    /*height: 100vh;*/
    /*display: flex;*/
    /*align-items: center;*/
    justify-content: center;

    background: linear-gradient(to right, rgba(253, 251, 251, 0), rgba(235, 237, 238, 0) 70%);
}

.salutation_items .titre_salutation .titre_gradient .text{
    /*text-transform: uppercase;*/
    background: linear-gradient(to right, #13B0F5 0%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*font-size: 20vw;*/
}

